<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Bearcat Linkr</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous">
    </head>

    <body>
        <div class="container">
            <div class = "container">
                <br>
                <br>
                <div>
                    <p>logged in: {{username}}</p>
                    <br>
                    <a href="/login" class="btn btn-primary float-left">Login</a>
                    <a href="/logout" class="btn btn-secondary float-right">Logout</a>
                    <br>
                    <br>
                    <h1 class = "">Homepage</h1>
                    <a href="/add/form" class="btn btn-primary btn-lg btn-block">New Post</a>
                <article>
                    <br>
                    <div class="list-group flex-column align-items-start">
                        {% block content %}
                            {% for book in books %}
                                <li class="list-group-item w-100">
                                    <h2>{{book['name']}}</h2>
                                    <h5 class="mb-1" style="word-wrap: break-word;">{{book['published']}}</h5>
                                    <p class="float-right">added on: {{ book['createdOn']}} by {{ book['author'] }}</p>
                                    <br>
                                    <h4>Comments: </h4>
                                        {% for comment in comments %}
                                            {% if comment['bookId'] == book['id'] %}
                                                <h6> {{ comment['content'] }} </h6>
                                                <p class="float-right">by: {{comment['createdBy']}} on {{comment['createdOn']}} </p>
                                                <br>
                                            {% endif %}
                                        {% endfor %}
                                    <a href="/add/comment/{{book['id']}}" class = "btn btn-primary">Add comment</a>
                                </li>
                            {% endfor %}
                        {% endblock %}
                    </ul>
                </article>
                <br>
            </div>
        </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo "
        crossorigin="anonymous "></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js " integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 "
            crossorigin="anonymous "></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js " integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy "
            crossorigin="anonymous "></script>
    </body>


</html>